.nav-wrapper,.btn-read{
    background-color: #02382E;
}

.slider .indicators .indicator-item.active{
    background-color: #02382E;
}
.move{
    margin-top: 60px;
}

.parallax-container{
    min-height: 380px;
    height: auto;
}