.nav-wrapper,.btn-read{
    background-color: #02382E;
}

.slider .indicators .indicator-item.active{
    background-color: #02382E;
}
.move{
    margin-top: 60px;
}

.parallax-container{
    min-height: 380px;
    height: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.footer-color{
    background-color: #3e3e42 !important;
}
.footer-copyright-color{
    background-color: black !important;
}
.row{
    margin-bottom: 3px !important;
}