nav,.btn-read{
    background-color:hsl(312, 33%, 3%) !important ;
    top: 0;
    z-index: 2;
}


.slider .indicators .indicator-item.active{
    background-color: #110706;
}
nav{
    height: 80px !important;
    line-height: 80px !important;
}

.fintro .slider .indicators {
display: none;
}
.move{
    margin-top: 60px;
}

.parallax-container{
    min-height: 380px;
    height: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.footer-color,.progress{
    background-color: #3e3e42 !important;
}
.footer-copyright-color,.indeterminate{
    background-color: #0A0509 !important;
}
.row{
    margin-bottom: 3px !important;
}

.carousel{
    height: 450px;
    
}
.carousel-item {
    height: 400px !important;
    width: 450px !important;
}